@media(max-width:767px){.navbar-form{margin:0;}}
.dropdown-menu > .divider:first-child {display: none;}
a,[onclick]{cursor:pointer;}
.templateContainer{display:none;}
#marker{
	color:#FFF;
	left:0;top:0;
	position:absolute;
	white-space: nowrap;
	transition: all 2s ease-in-out;
}
#marker>b{
	color:#F00;
	text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000;
}
#marker>span{
	color:#000;
	background:#FFF;
	border:1px solid #000;
}
#imcont{
	position:relative;
	overflow:scroll;
}
.panel{
	overflow:hidden;
}
.datepicker table tr td.today{
	text-shadow: 0px 0px 9px #000;
	background-color: inherit;
}
.event a,.event a:hover{
	color:initial;
}
.ev-past>a,.ev-past>code,.ev-past .btn{
	opacity:0.5 !important;
}
.ev-now >a,.ev-now >code,.ev-now  .btn{
	font-weight: bolder !important;
}
.dropdown-header {
	padding: 0px 10px;
}
.charico .glyphicon{
	display: block;
	text-align:center;
	font-size:  70px;
}
.charico h2{
	display:block;
	text-align:center;
}
#outdated{
	position:fixed;
	bottom:0;
	right:0;
}
@media (min-width:  768px){.charico .glyphicon{font-size:  75px;}}
@media (min-width:  992px){.charico .glyphicon{font-size:  97px;}}
@media (min-width: 1200px){.charico .glyphicon{font-size: 117px;}}